<script>
  export let secondary = "";
  export let classList = "";
</script>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="{classList}">
  <path class="fill-current {secondary}" fill-rule="evenodd" d="M8.7 13.7a1 1 0 1 1-1.4-1.4l4-4a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1-1.4 1.4L12 10.42l-3.3 3.3z"/>
</svg>
