<script>
  export let primary = "";
  export let secondary = "";
  export let classList = "";
</script>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-cloud-upload {classList}">
  <path class="fill-current {primary}" d="M18 14.97c0-.76-.3-1.51-.88-2.1l-3-3a3 3 0 0 0-4.24 0l-3 3A3 3 0 0 0 6 15a4 4 0 0 1-.99-7.88 5.5 5.5 0 0 1 10.86-.82A4.49 4.49 0 0 1 22 10.5a4.5 4.5 0 0 1-4 4.47z"/>
  <path class="fill-current {secondary}" d="M11 14.41V21a1 1 0 0 0 2 0v-6.59l1.3 1.3a1 1 0 0 0 1.4-1.42l-3-3a1 1 0 0 0-1.4 0l-3 3a1 1 0 0 0 1.4 1.42l1.3-1.3z"/>
</svg>
