<script>
  import PriceOption from "./_option.html";
  import { translate } from "../../stores/locale";
  const freeOptions = [
    $translate("pricingTierRequests"),
    $translate("pricingTierCaseSubmission"),
    $translate("pricingTierTrial"),
    " "
  ];
  const basicOptions = [
    $translate("pricingTierRequests"),
    $translate("pricingTierCaseSubmission"),
    $translate("pricingTierBasicSupport"),
    " "
  ];
  const proOptions = [
    $translate("pricingTierRequests"),
    $translate("pricingTierCaseSubmission"),
    $translate("pricingTierProSupport"),
    $translate("pricingTierFeatureRequests")
  ];
</script>

<section class="w-full max-w-6xl m-auto pt-8">
  <div class="lg:flex lg:items-center lg:justify-center lg:-mx-2">
    <PriceOption title={$translate("pricingTierFreeTitle")} link="/"
    linkLabel={$translate("pricingTierFreeLinkLabel")}
    price={$translate("pricingTierFreePrice")} options="{freeOptions}" />
    <PriceOption title={$translate("pricingTierBasicTitle")}
    link="mailto:support@samuu.srl?subject=Basic License"
    linkLabel={$translate("pricingTierBasicLinkLabel")} price="₲180.000"
    options="{basicOptions}" highlight /> <PriceOption
    title={$translate("pricingTierProTitle")}
    link="mailto:support@samuu.srl?subject=Pro License"
    linkLabel={$translate("pricingTierProLinkLabel")} price="₲250.000"
    options="{proOptions}" />
  </div>
</section>
