<script>
  import { translate } from "../../stores/locale";
  export let title, price, linkLabel, link, options;
  export let highlight = false;

  function renderOptions(options) {
    const list = options.map(item => `<li>${item}</li>`);
    return `<ul class="text-neut-600 leading-loose list-reset mb-6">${list.join(
      ""
    )}</ul>`;
  }
</script>

<div class="mb-4 lg:mb-0 lg:w-1/3 lg:px-2">
  <div
    class='{highlight ? "lg:py-16 lg:shadow-lg" : ""} rounded bg-white text-center border border-neut-200 p-10'
  >
    <h2 class="text-lg mb-4">{title}</h2>
    <div class="mb-6">
      <span class="block text-5xl pb-2">{price}</span>
      <span class="text-sm text-neut-600"
        >{$translate("pricingMonthlyPeriod")}</span
      >
    </div>
    {@html renderOptions(options)}
    <a
      class='{highlight ? "lg:border-none lg:bg-prim-600 lg:hover:bg-prim-700 lg:text-white" : ""}
             p-3 w-full text-sm tracking-wide uppercase inline-block border border-prim-600 text-prim-600 rounded no-underline font-bold'
      href="{link}"
      >{linkLabel}</a
    >
  </div>
</div>
