<%= form_for @changeset, @action, [as: :params, class: "lg:ml-16 m-4"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="text-sec-800">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= c("container.html",
      header: "Email",
      content: email_input(f, :email, placeholder: "Email Address",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :email))
      %>

  <%= c("container.html",
      header: "Username",
      content: text_input(f, :username, placeholder: "Username",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :username))
      %>

  <%= c("container.html",
      header: "Password",
      content: password_input(f, :password, placeholder: "Password",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :password),
      footer: "Every character is allowed. Must be at least 10 characters.")
      %>

  <%= submit "Save", class: "mr-2 bg-prim-400 hover:bg-prim-700 text-white font-semibold rounded px-4 py-1" %>
  <%= link "Back", to: @back, class: "text-neut-700 font-medium rounded px-4 py-1" %>
<% end %>
