<section class="max-w-3xl m-4 lg:ml-16">
  <h1 class="text-2xl lg-text-3xl mb-6">User Settings</h1>

  <h2 class="text-xl lg:text-2xl mb-2 mt-12">Active Keys</h2>

  <div class="m-4 lg:ml-16 w-full">
  <%= for key <- @user.keys do %>
      <% info = key.last_use %>
      <div class="flex">
        <div class="p-6 flex-grow w-0 truncate" title="<%= key.id %>"><%= c "box.html", title: "ID", content: key.id %></div>
        <%= if info do %>
          <div class="p-6 flex-grow w-0 truncate" title="<%= info.used_at %>"><%= c "box.html", title: "Last Use", content: info.used_at %></div>
          <div class="p-6 flex-grow w-0 truncate" title="<%= info.user_agent %>"><%= c "box.html", title: "User Agent", content: info.user_agent %></div>
          <div class="p-6 flex-grow w-0 truncate" title="<%= info.ip %>"><%= c "box.html", title: "IP", content: info.ip %></div>
        <% end %>
        <%= button "Revoke", to: Routes.backoffice_token_path(@conn, :delete,
        @user, key), method: :delete, data: [confirm: "Are you sure?"],
        class: "px-4 py-2 rounded-lg border border-sec-600 text-sec-700 bg-transparent hover:text-white
        hover:bg-sec-700 hover:border-sec-700 font-semibold lg:ml-16 m-4"%>
      </div>
  <% end %>
  </div>

  <h2 class="text-xl lg: text-2xl mb-2 mt-12">Permission Flags</h2>
  <div class="lg:ml-16 m-4">
    <%= form_for @conn, Routes.backoffice_user_permission_path(@conn, :update,
    @user), [as: :params, method: :put, class: "flex flex-wrap items-center"], fn f -> %>
   <div class="p-2"><%= c "box.html", title: "Create", content: checkbox(f, :create, value: can_create?(@user)) %></div>
   <div class="p-2"><%= c "box.html", title: "Read", content: checkbox(f, :read, value: can_read?(@user)) %></div>
   <div class="p-2"><%= c "box.html", title: "Edit", content: checkbox(f, :edit, value: can_edit?(@user)) %></div>
   <div class="p-2"><%= c "box.html", title: "Delete", content: checkbox(f, :delete, value: can_delete?(@user)) %></div>
    <%= submit "Update", class: "ml-2 bg-prim-400 hover:bg-prim-700 text-white
    font-semibold rounded p-2 h-10" %>
    <% end %>
  </div>

  <h2 class="text-xl lg:text-2xl mb-2 mt-12">Edit</h2>

  <%= render "_form.html",
      assigns
      |> Map.put(:action, Routes.backoffice_user_path(@conn, :update, @user))
      |> Map.put(:back, Routes.backoffice_person_path(@conn, :show, @user.commitments_person_id))
  %>

  <h2 class="text-xl lg:text-2xl mb-2 mt-12">Danger Zone</h2>
  <%= button "Delete User", to: Routes.backoffice_user_path(@conn, :delete,
        @user), method: :delete, data: [confirm: "Are you sure?"],
        class: "px-4 py-2 rounded-lg border border-sec-600 text-sec-700 bg-transparent hover:text-white
        hover:bg-sec-700 hover:border-sec-700 font-semibold lg:ml-16 m-4"%>


</section>
