<section class="mt-24 max-w-sm m-auto">
<h1 class="text-center text-2xl font-bold text-neut-500 mb-16">
  Welcome to <br/>
  <span class="text-4xl text-prim-700">Morandu Backoffice</span>
</h1>

<%= form_for @conn, Routes.backoffice_mgmt_session_path(@conn, :create), [as:
    :params, class: "m-2 mb-6"], fn f -> %>
  <label class="block font-semibold text-neut-500 mb-4">
    Email
    <%= email_input f, :email, class: "w-full border-b border-neut-300 my-2
    text-lg text-neut-900 focus:border-white focus:outline-none" %>
  </label>

  <label class="block font-semibold text-neut-500 mb-4">
    Password
    <%= password_input f, :password, class: "w-full border-b border-neut-300
    my-2 text-lg text-neut-900 focus:border-white focus:outline-none"  %>
  </label>
  <%= submit "Sign In", class: "w-full bg-prim-400 hover:bg-prim-700 text-white font-semibold rounded px-4 py-2" %>
<% end %>
</section>
