<section class="max-w-3xl m-4 lg:ml-16">
  <h1 class="text-2xl lg-text-3xl">List Open Cases</h1>
  <ul class="mt-8">
  <%= for case <- @cases do %>
      <li>
        <%= link to: Routes.backoffice_case_path(@conn, :show, case),
            class: "block shadow-md rounded p-2 items-center max-w-4xl mx-auto my-4 hover:bg-neut-000" do %>
        <div class="flex flex-wrap min-w-0">
          <div class="w-6/12 lg:w-1/12">
            <%= c "box.html", title: "ID", content: case.id %>
          </div>
          <div class="w-6/12 lg:w-3/12">
            <%= c "box.html", title: "Creditor", content: case.creditor.name %>
          </div>
          <div class="w-6/12 lg:w-2/12">
            <%= c "box.html", title: "Debtor", content: case.debtor.cedula %>
          </div>
          <div class="w-6/12 lg:w-3/12">
            <h3 class="text-neut-500 text-sm font-semibold">Verify</h3>
            <%= if case.verified_at do %>
              <p class="text-lg truncate"><%= case.verified_at %><p>
            <% else %>
            <%= button "Verify", to: Routes.backoffice_case_path(@conn,
            :verify, case, origin: Routes.backoffice_case_path(@conn, :index)),
                class: "bg-prim-400 hover:bg-prim-700 text-white
            font-semibold rounded px-4 py-1", method: :post %>
            <% end %>
          </div>
          <div class="w-6/12 lg:w-3/12">
            <h3 class="text-neut-500 text-sm font-semibold">Resolve</h3>
              <%= button "Resolve", to: Routes.backoffice_case_path(@conn,
              :resolve, case, origin: Routes.backoffice_case_path(@conn, :index)),
                  class: "bg-prim-400 hover:bg-prim-700 text-white
            font-semibold rounded px-4 py-1", method: :post, data: [confirm:
              "Are you sure?"] %>
          </div>
        </div>
        <% end %>
      </li>
  <% end %>
  </ul>
</section>
