<section class="max-w-3xl m-4 lg:ml-16">
  <h1 class="text-2xl lg-text-3xl">Create Case for <strong><%= @creditor.name %></strong></h1>

<%= form_for @changeset, Routes.backoffice_case_path(@conn, :create, @creditor),
  [as: :params, class: "lg:ml-16 m-4", multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="text-sec-800">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= c("container.html",
      header: "Cedula or RUC",
      content: telephone_input(f, :cedula_or_ruc, placeholder: "Cedula/RUC",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none",
        pattern: "^[0-9]+(-[0-9])?$"),
      error: error_tag(f, :cedula_or_ruc))
      %>

  <%= c("container.html",
      header: "Name",
      content: text_input(f, :name, placeholder: "Name",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :name))
      %>

  <%= c("container.html",
      header: "Phone Number",
      content: telephone_input(f, :phone, placeholder: "0982123456",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :phone))
      %>

  <%= c("container.html",
      header: "Contract signed at",
      content: date_input(f, :signed_at, placeholder: "Signed at",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :signed_at))
      %>

  <%= c("container.html",
      header: "Amount",
      content: number_input(f, :amount, placeholder: "Amount",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :amount))
      %>

  <%= c("container.html",
      header: "Proof File",
      content: file_input(f, :proof, accept: ".pdf,.jpg,.png,.jpeg",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :proof))
      %>

  <%= submit "Save", class: "mr-2 bg-prim-400 hover:bg-prim-700 text-white font-semibold rounded px-4 py-1" %>
<% end %>
</section>
