<section class="max-w-4xl m-4 lg:ml-16">
  <div class="flex flex-wrap">
    <h1 class="text-2xl lg-text-3xl mr-4" >Case <%= @case.id %></h1>
    <%= if @case.verified_at do %>
    <div class="mx-4">
      <h2 class="text-sm font-medium">Verified at</h2>
      <p class="text-xs truncate"><%= @case.verified_at |> DateTime.truncate(:second) %><p>
    </div>
    <% else %>
    <%= button "Verify", to: Routes.backoffice_case_path(@conn,
    :verify, @case),
        class: "bg-prim-400 hover:bg-prim-700 text-white
    font-semibold rounded px-4 py-1 mx-4", method: :post %>
    <% end %>

    <%= if @case.resolved_at do %>
    <div class="mx-4">
      <h2 class="text-sm font-medium">Resolved at</h2>
      <p class="text-xs truncate"><%= @case.resolved_at |> DateTime.truncate(:second) %><p>
    </div>
    <% else %>
    <%= button "Resolve", to: Routes.backoffice_case_path(@conn,
    :resolve, @case),
        class: "bg-prim-400 hover:bg-prim-700 text-white
    font-semibold rounded px-4 py-1 mx-4", method: :post, data: [confirm:
    "Are you sure?"] %>
    <% end %>

    <%= button "Clone", to: Routes.backoffice_case_path(@conn,
    :clone, @case),
        class: "bg-prim-400 hover:bg-prim-700 text-white
    font-semibold rounded px-4 py-1 mx-4", method: :post %>
  </div>

  <div class="lg:flex my-6">
      <%= link to: Routes.backoffice_person_path(@conn, :show,
      @case.creditor), class: "block w-full lg:w-1/2 bg-neut-000 rounded-lg px-4 py-2 m-4" do %>
        <h2 class="text-xl font-medium mb-4">Creditor</h2>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "Name", content: @case.creditor.name %></div>
          <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "Cedula", content: @case.creditor.cedula %></div>
          <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "RUC", content: @case.creditor.ruc %></div>
        </div>
      <% end %>
      <%= link to: Routes.backoffice_person_path(@conn, :show,
      @case.debtor), class: "block w-full lg:w-1/2 bg-neut-000 rounded-lg px-4 py-2 m-4" do %>
        <h2 class="text-xl font-medium mb-4">Debtor</h2>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "Name", content: @case.debtor.name %></div>
          <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "Cedula", content: @case.debtor.cedula %></div>
          <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "RUC", content: @case.debtor.ruc %></div>
        </div>
      <% end %>
  </div>

  <div class="m-4">
    <h2 class="text-xl font-medium">Properties</h2>
    <div class="flex flex-wrap">
      <div class="p-6"><%= c "box.html", title: "Amount", content:
      :erlang.float_to_binary(@case.amount || 0.0, decimals: 2) %></div>
      <div class="p-6"><%= c "box.html", title: "Signed at", content: @case.signed_at %></div>
    </div>
  </div>

  <div class="m-4">
    <h2 class="text-xl font-medium">Proof</h2>
<pre class="w-full overflow-auto bg-neut-800 rounded-lg m-4 p-2">
<code class="inline-block text-white scrolling-touch"><%= @case.proof %></code>
</pre>
<pre class="w-full overflow-auto bg-neut-800 rounded-lg m-4 p-2">
<code class="inline-block text-white overflow-auto scrolling-touch"><%= @case.proof_hash %></code>
</pre>
    <%= button "Download", to: Routes.backoffice_case_path(@conn,
    :proof, @case), method: :get, class: "bg-prim-400 hover:bg-prim-700 text-white
    font-semibold rounded px-4 py-1 mx-4" %>
  </div>

</section>
