<section class="m-4 lg:ml-16">
  <h1 class="text-2xl lg:text-3xl mb-3" >Home</h1>
  <ul class="flex flex-wrap">
    <li>
      <%= link to: Routes.backoffice_person_path(@conn, :index),
          class: "flex justify-center items-center w-24 h-24 border rounded m-4" do %>
        <div>Accounts</div>
      <% end %>
    </li>
    <li>
      <%= link to: Routes.backoffice_case_path(@conn, :index),
          class: "relative flex justify-center items-center w-24 h-24 border rounded m-4" do %>
        <%= if @case_count > 0 do %>
          <div class="absolute bg-sec-600 font-medium text-white px-2
        rounded top-0 right-0" style="top: -10px; right: -10px"><%= @case_count %></div>
        <% end %>
        <div>Cases</div>
      <% end %>
    </li>
  </ul>
</section>
