<section class="mt-8 mb-12">
  <main class="mb-3">
    <%= if assigns[:header] do %><h3 class="text-xl lg:text-2xl font-medium mb-2"><%= @header %></h3><% end %>
    <%= if assigns[:sub_header] do %><p class="text-neut-500 text-sm lg:text-base mt-1"><%= @sub_header %></p><% end %>
    <%= if assigns[:content] do %>
      <%= @content %>
    <% end %>
  </main>
  <% footer = get_content(assigns[:footer]) %>
  <% error = get_content(assigns[:error]) %>
  <%= if error || footer do %>
  <footer class="px-2 py-1 text-xs lg:text-sm rounded-lg mt-4
                 <%= if error, do: ~s(bg-sec-000 text-sec-800), else:
                     ~s(bg-neut-000 text-neut-799) %>">
    <%= error || footer %>
  </footer>
  <% end %>
</section>
