.input {
  @apply block relative text-2xl mb-4 cursor-text;
}

.input .label {
  @apply absolute top-0 left-0 text-neut-500;
  transition: all 0.15s ease;
  transform-origin: 0 0;
}

.input input {
  @apply w-full text-neut-900 border-b border-neut-300;
  transition: all 0.15s ease;
}

.input input:focus {
  @apply outline-none border-white;
}

.input input:focus + span {
  @apply font-semibold text-neut-500;
  transform: translateY(-26px) scale(0.6);
}

.input input:not(:placeholder-shown) + span {
  @apply font-semibold text-neut-500;
  transform: translateY(-26px) scale(0.6);
}
