.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.show-on-hover-wrapper + .show-on-hover {
    display: none;
}

.show-on-hover-wrapper:hover + .show-on-hover {
    display: block;
}
