<section class="m-4 lg:ml-16">
  <h1 class="text-2xl lg-text-3xl mb-3">Listing Backoffice Users</h1>

  <%= link "Add User...", to: Routes.backoffice_mgmt_user_path(@conn, :new),
      class: "text-neut-700 font-medium" %>

  <div class="mt-12">
    <%= for user <- @users do %>
        <%= link to: Routes.backoffice_mgmt_user_path(@conn, :edit, user),
            class: "flex shadow-md rounded p-2 items-center max-w-4xl mx-auto my-4 hover:bg-neut-000" do %>
          <div class="flex flex-grow min-w-0">
            <div class="mx-1 w-1/12">
              <h3 class="text-neut-500 text-sm font-semibold">ID</h3>
              <p class="text-lg truncate"><%= user.id %><p>
            </div>
            <div class="mx-1 w-10/12 sm:w-5/12">
              <h3 class="text-neut-500 text-sm font-semibold">Email</h3>
              <p class="text-lg truncate"><%= user.email %><p>
            </div>
            <div class="mx-1 hidden sm:block w-5/12">
              <h3 class="text-neut-500 text-sm font-semibold">Name</h3>
              <p class="text-lg truncate"><%= user.name %><p>
            </div>
          </div>
          <%= button "Delete", to: Routes.backoffice_mgmt_user_path(@conn, :delete,
              user), method: :delete, data: [confirm: "Are you sure?"],
              class: "px-4 py-2 rounded-lg border border-sec-600 text-sec-700 bg-transparent hover:text-white
              hover:bg-sec-700 hover:border-sec-700 font-semibold"%>
        <% end %>
    <% end %>
  </div>
</section>
