<section class="max-w-3xl m-4 lg:ml-16">
  <h1 class="text-2xl lg-text-3xl">New User</h1>

  <%= render "form.html",
      Map.put(assigns, :action, Routes.backoffice_mgmt_user_path(@conn, :create))
      |> Map.put(:abort, Routes.backoffice_mgmt_user_path(@conn, :index)) %>
</section>
