<script>
  import { translate as t } from "../stores/locale";
  export let c_cedula, c_ruc, c_name, signed_at;
  let id = c_ruc || c_cedula;
</script>

<div class="bg-white shadow rounded-lg p-4 w-full sm:w-1/2 lg:w-1/3">
  <h3 class="font-medium text-xs text-neut-400 uppercase tracking-widest">
    {$t("resultCardHeading")}
  </h3>
  <div class="my-2">         
    <h2 class="font-semibold text-xl lg:text-2xl truncate">{c_name}</h2>
    {#if id}
    <p class="text-neut-500 truncate text-sm lg:text-base mt-1">
      {id}
    </p>                      
    {/if}
  </div>
  <div class="border-b my-2 border-neut-100"></div>
  <div class="flex flex-wrap">
    <div class="flex-grow"></div>
    <p class="text-neut-500 font-medium text-xs truncate">
      {$t("resultCardSince", {date: new Date(signed_at)})}
    </p>
  </div>
</div>
