<script>
  export let title = undefined;
  export let subtitle = undefined;
  export let footer = undefined;
  export let error = undefined;
</script>

<div class="mt-10 mb-16">
  <div class="mb-3">
    {#if title}
    <h2 class="text-xl lg:text-2xl font-medium mb-2">{title}</h2>
    {/if} {#if subtitle}
    <p class="text-neut-500 text-sm lg:text-base mt-1">{subtitle}</p>
    {/if}
  </div>
  <slot></slot>
  {#if footer || error}
  <div
    class='px-2 py-1 text-xs lg:text-sm rounded-lg mt-4 {error ? "bg-sec-000 text-sec-800" : "bg-neut-000 text-neut-700"}'
  >
    <p>{error || footer}</p>
  </div>
  {/if}
</div>
