<script>
  import { translate as t } from "../stores/locale";

  export let msg = "";
  export let refresh = false;
</script>

<p class="text-sm font-medium text-sec-700 mb-4 mx-4">{msg}</p>
{#if refresh}
<button
  class="mx-4 py-1 px-4 bg-prim-400 hover:bg-prim-700 text-white font-semibold rounded"
  on:click="{() => location.reload()}"
>
  {$t("errorRefreshButton")}
</button>
{/if}
