<script>
  import { translate as t } from "../stores/locale";
  import { connected } from "../stores/system";
  let online = true;
  let update = false;


 // TODO: create one notification element and switch text
 if (process.browser) {
    window.isUpdateAvailable
      .then(isAvailable => {
        update = true
      });
  }

 let notification = null;

 $: if(online == false) {
   notification = {
     message: $t("footerOfflineNotification"),
     button: null,
     button_click: null
   };
 } else if(update == true) {
   notification = {
     message: $t("footerUpdateNotification"),
     button: $t("footerUpdateRefresh"),
     button_click: () => location.reload()
   };
 } else if ($connected == false) {
   notification = {
     message: $t("footerConnectionNotification"),
     button: null,
     button_click: null,
   };
 } else {
   notification = null;
 }
</script>

<svelte:window bind:online />

<style>
  .notify {
    @apply fixed p-2 inset-x-0 bottom-0;
    transform: none;
    transition: transform 0.2s;
  }
  .hide-notify {
    transform: translate(0, calc(100% + 1rem));
  }
  .spacer {
    content: " ";
  }
  .item {
    @apply block p-2;
  }
</style>


<!-- Notification -->
<div
  class='bg-supp1-000 text-supp1-900 font-medium text-xs lg:text-sm text-center
              notify {notification ? "" : "hide-notify"}'
>
  {#if notification}
    <p>{notification.message}
      {#if notification.button}
        <button on:click="{notification.button_click}" class="underline">{notification.button}</button>
      {/if}
    </p>
  {/if}
</div>

{#if !notification}
  <footer class="bg-neut-000 text-sm text-neut-700">
    <div class="flex px-4">
      <div class="spacer flex-grow" />
      <p class="item">
        Version: {process.env.MORANDU_VERSION}
      </p>
      <div class="spacer flex-grow" />
      <p class="item">
        {$t("footerCopyRight")}
      </p>
    </div>
  </footer>
{/if}
