<script>
  import { createEventDispatcher } from "svelte";
  import Close from "./icons/close.html";

  const dispatch = createEventDispatcher();
</script>

<style>
  .modal-background {
    @apply inset-0 fixed;
    background: rgba(255, 255, 255, 0.95);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
  }

  .modal {
    @apply fixed bg-white rounded-lg p-2 overflow-auto;
    left: 50%;
    top: 50%;
    /* width: calc(100vw - 4rem);
         max-width: 32rem; */
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
    transform: translate(-50%, -50%);
  }
</style>

<div class="modal-background z-40" on:click='{() => dispatch("close")}'></div>

<slot name="modal">
  <div class="modal w-full sm:w-auto z-40 border border-neut-000 shadow-lg mt-8">
    <slot name="header"></slot>
    <slot></slot>

    <slot name="closer"
      ><button
        id="closeDialog"
        class="absolute m-2 top-0 right-0"
        on:click='{() => dispatch("close")}'
      >
        <div class="h-8 w-8 text-neut-700 hover:text-neut-900 fill-current">
          <Close />
        </div>
      </button>
    </slot>
  </div>
</slot>
