<script>
  import { stores } from '@sapper/app';
  import { translate as t } from "../stores/locale";
  import { user, delUser } from "../stores/user";
  import UserIcon from "./icons/user.html";
  import { del, prefetch } from "../api";

  const { page } = stores();
  export let segment;
  export let large;

  async function preload() {
    let token = $user.token;
    prefetch(`persons`, { token });
    prefetch(`cases`, { token });
  }

 let breadcrumbs = [];
 $: {
   breadcrumbs = [];
   let path = $page.path;
   while(path != '') {
     if (path == '/') break;
     let splitted = path.split('/');
     let name = translatePathName(splitted.pop());
     let obj = {name, path};
     breadcrumbs.push(obj);
     path = splitted.join("/");
   }
  }

 function translatePathName(name) {
   switch (name) {
     case "submission":
       return $t("submissionHeading");
     case "dashboard":
       return $t("dashboardHeading");
     case "account":
       return $t("dashboardMenuAccount");
     case "members":
       return $t("dashboardMenuMembers");
     case "cases":
       return $t("dashboardMenuCases");
     case "settings":
       return $t("settingsHeading");
     default:
       return name;
   }
 }

</script>

<style>
  .spacer {
    content: " ";
  }
  .route {
    @apply m-2 p-1 block;
  }
 .backdrop {
     top: 0;
     left: 0;
     width: 100%;
     height: 15rem;
     z-index: -50;
     position: absolute;
 }
</style>

{#if large}
<div class="backdrop bg-prim-600 rounded-br-lg rounded-bl-lg"></div>
{/if}
<nav class='w-full p-2 {large ? "text-white" : "text-prim-600"}'>
  <div class="flex items-center">
    <div class='font-bold text-3xl {segment === undefined ? "hidden" : ""}'>
      <a href=".">{$t("introTitle")}</a>
    </div>
    <div class="spacer flex-grow"></div>
    <ul class="flex items-center">
      <li class="mr-4">
        <!-- HACK: link needs to be visible for server to prefech route -->
        <a
          class='route {segment === "dashboard" ? "selected" : ""}'
          href="/dashboard"
          title='{$t("navRouteDashboard")}'
        >
          {#if $user && $user.token}
          <span on:mousedown="{preload}" on:touchstart="{preload}"
          ><UserIcon classList='w-8 h-8 {large ? "text-white" : "text-prim-600"}'
          /></span>
          {:else}
          <div></div>
          {/if}
        </a>
      </li>
    </ul>
  </div>
  {#if breadcrumbs && breadcrumbs.length > 0}
    <div class='ml-4 text-xs {large ? "text-prim-000" : "text-neut-600"}'>
      <a href="/" class="mr-1">{$t("introTitle")}</a>
        {#each breadcrumbs.reverse() as entry}
          <span>›</span>
          <a class="mr-1 capitalize" href="{entry.path}">{entry.name}</a>
        {/each}
    </div>
  {/if}
</nav>
