<script>
  import { translate as t } from "../stores/locale";
  import Card from "./companyCard.html";
  import Voter from "./voter.html";
  import Error from "./error.html";
  export let search;
  export let entries;
  export let error = null;
</script>

<style>
  .result {
    @apply p-2 px-4 my-6 rounded font-semibold tracking-wider uppercase text-center;
  }
</style>

{#if entries || error}
  <div class="sm:flex items-center">
    <h2 class="my-4 text-2xl font-medium text-neut-700 mr-4">
      {error ? $t("resultErrorHeading") : $t("resultHeading", {id:
      search.toString(), entries: entries.length})}
    </h2>
    {#if !error}
      <div class="">
        <Voter query="{search}"/>
      </div>
    {/if}
  </div>
  {#if error}
    <Error msg={error} refresh=true />
    {:else if entries.length === 0}
    <p class="result bg-supp1-000 text-supp1-900">
      <span class="inline-block font-normal">🎉 </span>
      {$t("resultNothingFoundText")}
      <span class="inline-block font-normal">🎉</span>
    </p>
    {:else}
    <p class="result bg-sec-000 text-sec-900">
      <span class="inline-block font-normal">⚡</span>
      {$t("resultFoundText", {entries: entries.length})}
      <span class="inline-block font-normal">⚡</span>
    </p>
    <div class="flex flex-wrap">
      {#each entries as item}
      <Card {...item} />
      {/each}
    </div>
  {/if}
{/if}
