<script>
  import { translate as t } from "../stores/locale";
  import { user } from "../stores/user";
  import Searchbar from "./searchbar.html";
  import { onMount } from "svelte";
  import { error_msg } from "../error";

  export let query;
  export let entries = null;
  export let error = null;
  let Search;
  let id = "";

  // Init search service (sync worker with indexed db and phx channels)
  onMount(async () => {
    const module = await import("../services/search");
    Search = module.default;

    if (process.env.NODE_ENV === "development") {
      id = "234567";
      submit();
    }
  });

  async function submit(event) {
    query = id;
    Search.get(id)
      .then(res => {
        error = null;
        entries = res;
      })
      .catch(e => {
        error = error_msg($t, e);
      });
    id = "";
  }
</script>

<style>
  .input {
    @apply block relative text-2xl mb-4 cursor-text;
  }

  .input .label {
    @apply absolute top-0 left-0 text-neut-500;
    transition: all 0.15s ease;
    transform-origin: 0 0;
  }

  .input input {
    @apply w-full text-neut-900 border-b border-neut-300;
    transition: all 0.15s ease;
  }

  .input input:focus {
    @apply outline-none border-white;
  }

  .input input:focus + span {
    @apply font-semibold text-neut-500;
    transform: translateY(-26px) scale(0.6);
  }

  .input input:not(:placeholder-shown) + span {
    @apply font-semibold text-neut-500;
    transform: translateY(-26px) scale(0.6);
  }
</style>

<form on:submit|preventDefault="{submit}" role="search">
  <Searchbar classList="text-2xl mb-4" bind:value="{id}" label='{$t("searchInputLabel")}' />
  <button
    class="w-full mb-4 bg-prim-400 hover:bg-prim-700 text-white font-semibold rounded px-4 py-2"
    type="submit"
  >
    {$t("searchButton")}
  </button>
</form>
