<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let label;
  export let classList = "";
  export let value = "";
  let pattern = "^[0-9]{6,10}(-[0-9])?$"

  //NOTE: Handles input in keyup event. Input event triggered before value was set.
  async function handleInput(event) {
    dispatch("input", value);
  }
</script>

<style>
  .input {
    @apply block relative cursor-text;
  }

  .input .label {
    @apply absolute top-0 left-0 text-neut-500;
    transition: all 0.15s ease;
    transform-origin: 0 0;
  }

  .input input {
    @apply w-full text-neut-900 border-b border-neut-300;
    transition: all 0.15s ease;
  }

  .input input:focus {
    @apply outline-none border-white;
  }

  .input input:focus + span {
    @apply font-semibold text-neut-500;
    transform: translateY(-26px) scale(0.6);
  }

  .input input:not(:placeholder-shown) + span {
    @apply font-semibold text-neut-500;
    transform: translateY(-26px) scale(0.6);
  }
</style>

<label for="search" class='input {classList}'>
  <input
    on:keyup="{handleInput}"
    id="search"
    type="search"
    pattern="{pattern}"
    bind:value="{value}"
    placeholder="&nbsp;"
    role="textbox"
    autocomplete="off"
  />
  <span class="label truncate w-full">
    {label}
  </span>
</label>
