<script>
  import { createEventDispatcher } from "svelte";
  import { translate } from "../stores/locale";
  import Loader from "./icons/loader.html";
  import Success from "./icons/check.html";
  const dispatch = createEventDispatcher();

  // If a name prop exists, the component behaves like a normal button
  // and fires a click event with the name and value.
  // If no name prop exists, the component behaves like a submit button
  // to submit the whole form. It also fires a click event without further content.

  export let data = {};
  export let type = "button";
  let initial = data.value;
  let visible = true;

  $: visible =
    initial === undefined ||
    initial !== data.value ||
    data.success === true ||
    data.loading === true;

  $: if (data.success) {
    initial = data.value;
  }

  async function handleClick(event) {
    let content = {};
    content[data.name] = data;
    dispatch("click", content);
  }
</script>

<style>
  .btn {
    @apply rounded-lg text-white bg-prim-500;
    transition: all 0.35s;
  }
  .btn:hover {
    @apply bg-prim-700;
  }
  .large {
    @apply px-4 py-2;
  }
  .small {
    @apply px-3 py-1 my-1 ml-2;
  }
  .disabled {
    @apply bg-neut-100 cursor-wait;
  }
  .disabled:hover {
    @apply bg-neut-100;
  }
</style>

{#if visible}
<button
  type="{type}"
  on:click="{handleClick}"
  class='btn flex justify-center items-center {initial ? "small" : "large"} {data.loading || data.success ? "disabled" : ""}'
  disabled="{data.loading || data.success}"
>
  {#if data.loading}
  <Loader classList="h-6 w-6 text-prim-500" />
  {:else if data.success}
  <Success classList="h-6 w-6" primary="text-supp1-600" secondary="text-white" />
  {:else} {$translate("submitButton")} {/if}
</button>
{/if}
