<script>
import * as api from "../api";
import { user as u } from "../stores/user";
import { translate as t } from "../stores/locale";
import Star from "./icons/star.html";
import Loader from "./icons/loader.html";

export let query;
let can_update = $u && $u.role == 'admin' || false;
let person;
let is_loading = false;
let vote_threshold = 0;

$:  update_person(query);

// NOTE(dgl): Is it necessary to handle errors?
async function toggle_vote(value) {
  if(!can_update) return;

  is_loading = true;
  if(person && person.voted) {
    api
		  .del(`persons/${query}/vote`, { token: $u.token })
		  .then(res => {
		    update_person(query);
		  })
		  .catch(err => {
		    // NOTE(dgl): we have a 0.5s timeout to indicate, we did something
		    setTimeout(() => is_loading = false, 500)
		  });
  } else {
    api
		  .post(`persons/${query}/vote`, {value}, { token: $u.token })
		  .then(res => {
		    update_person(query);
		  })
		  .catch(err => {
		    // NOTE(dgl): we have a 0.5s timeout to indicate, we did something
		    setTimeout(() => is_loading = false, 500)
		  });
  }
}

async function update_person(cedula_or_ruc) {
  is_loading = true;
  vote_threshold = 0;
  api.get(`persons/${cedula_or_ruc}`, { token: $u.token })
		  .then(res => {
		    person = res;
		    is_loading = false;
		    reset_highlight();
		  })
		  .catch(err => {
		    person = null;
		    is_loading = false;
		    vote_threshold = 0
		  });
}

function hover_highlight(value) {
  if(!can_update) return;
  if(person && person.voted) {
    vote_threshold = 0;
  } else {
    vote_threshold = Math.round(value);
  }
}

function reset_highlight() {
  vote_threshold = person && Math.round(person.score) || 0;
}
</script>

<style>
 .disabled {
 }
 .disabled:hover {
   @apply cursor-default;
 }
</style>

<div class="text-neut-200 flex items-center">
  <button
    on:mouseover="{(e) => hover_highlight(1)}"
    on:mouseleave="{reset_highlight}"
    on:click="{(e) => toggle_vote(1)}"
    class='{can_update ? "" : "disabled"}'>
    <Star classList="w-10 h-10 -mx-2" primary="text-transparent" secondary='{vote_threshold >= 1 ? "text-prim-600" : ""}'/>
  </button>
  <button
    on:mouseover="{(e) => hover_highlight(2)}"
    on:mouseleave="{reset_highlight}"
    on:click="{(e) => toggle_vote(2)}"
    class='{can_update ? "" : "disabled"}'>
    <Star classList="w-10 h-10 -mx-2" primary="text-transparent" secondary='{vote_threshold >= 2 ? "text-prim-600" : ""}'/>
  </button>
  <button
    on:mouseover="{(e) => hover_highlight(3)}"
    on:mouseleave="{reset_highlight}"
    on:click="{(e) => toggle_vote(3)}"
    class='{can_update ? "" : "disabled"}'>
    <Star classList="w-10 h-10 -mx-2" primary="text-transparent" secondary='{vote_threshold >= 3 ? "text-prim-600" : ""}'/>
  </button>
  <button
    on:mouseover="{(e) => hover_highlight(4)}"
    on:mouseleave="{reset_highlight}"
    on:click="{(e) => toggle_vote(4)}"
    class='{can_update ? "" : "disabled"}'>
    <Star classList="w-10 h-10 -mx-2" primary="text-transparent" secondary='{vote_threshold >= 4 ? "text-prim-600" : ""}'/>
  </button>
  <button
    on:mouseover="{(e) => hover_highlight(5)}"
    on:mouseleave="{reset_highlight}"
    on:click="{(e) => toggle_vote(5)}"
    class='{can_update ? "" : "disabled"}'>
    <Star classList="w-10 h-10 -mx-2" primary="text-transparent" secondary='{vote_threshold >= 5 ? "text-prim-600" : ""}'/>
  </button>
  <div class="ml-2">
    {#if is_loading && person}
      <Loader classList="h-6 w-6" />
    {:else}
      <p class="font-medium text-neut-500 text-sm">({person && person.vote_count || 0})</p>
    {/if}
  </div>
</div>

