<script>
  import { createEventDispatcher } from "svelte";
  import Container from "../../components/container.html";
  import Submit from "../../components/submit.html";
  import { translate as t } from "../../stores/locale";

  export let email, username, password;
  const dispatch = createEventDispatcher();

  function submit(event) {
    dispatch("save", event.detail);
  }
</script>

<style>
  .btn {
    @apply px-4 py-2 rounded-lg text-white bg-prim-500;
  }
  .btn:hover {
    @apply bg-prim-700;
  }
  .input {
    @apply w-full my-2 text-lg text-neut-900;
    transition: all 0.15s ease;
  }
  .input:focus {
    @apply outline-none;
  }
</style>

<form>
  <section class="mx-4 lg:mx-12">
    <Container title='{$t("userEmailTitle")}' subtitle='{$t("userEmailSubtitle")}' error="{email.error}">
      <div class="flex">
        <input
          id="settings.email"
          type="email"
          name="{email.name}"
          class="input text-lg lg:text-xl"
          placeholder='{$t("userEmailInputPlaceholder")}'
          bind:value="{email.value}"
        />
        <Submit on:click="{submit}" data="{email}" />
      </div>
    </Container>

    <Container title='{$t("userNameTitle")}' error="{username.error}">
      <div class="flex">
        <input
          id="settings.name"
          type="text"
          name="{username.name}"
          class="input text-lg lg:text-xl"
          placeholder='{$t("userNameInputPlaceholder")}'
          bind:value="{username.value}"
        />
        <Submit on:click="{submit}" data="{username}" />
      </div>
    </Container>

    <Container title='{$t("userPasswordTitle")}'
          footer='{$t("userPasswordFooter", {length: 10})}' error="{password.error}">
      <div class="flex">
        <input
          id="settings.password"
          type="password"
          name="{password.name}"
          class="input text-lg lg:text-xl"
          placeholder='{$t("userPasswordInputPlaceholder")}'
          bind:value="{password.value}"
        />
        <Submit on:click="{submit}" data="{password}" />
      </div>
    </Container>
  </section>
</form>
