<script>
  import * as api from "../../api";
  import { translate as t } from "../../stores/locale";
  import { user as u, setUser, delUser } from "../../stores/user";
  import UserSettings from "./_user_form.html";
  import Container from "../../components/container.html";
  import * as form from "../../helpers/form";
  import { error_msg } from "../../error";

  let user = $u;
  $: userStates = form.setState({ ...user, password: "" }, {}, form.INITIAL);

  async function save(event) {
    userStates = form.setState(userStates, event.detail, form.FETCHING);
    send(userStates, `users/${user.id}`)
      .then(resp => {
        // check if it is really a user and has an id
        if (!resp.id) {
          userStates = form.setState(userStates, event.detail, form.FAILURE, {
            errors: e.errors
          });
          return;
        }
        userStates = form.setState(userStates, event.detail, form.SUCCESS);
        // Push updated user to local storage
        setUser({ user: resp, token: $u.token });
        setTimeout(() => {
          userStates = form.setState(userStates, event.detail, form.INITIAL);
        }, 2000);
      })
      .catch(e => {
        // prepare error message for every input container
        let errors = {};
        Object.keys(event.detail).map(
          key => (errors[key] = error_msg($t, e))
        );

        userStates = form.setState(
          userStates,
          event.detail,
          form.FAILURE,
          {
            errors: e.form || errors
          }
        );
      });
  }

  function send(states, uri) {
    let params = form.stripStates(states);
    return api.post(uri, { params }, { token: $u.token });
  }

  async function logoutHandler(event) {
    api
      .del(`auth`, { token: $u.token })
      .then(() => delUser())
      .catch(err => console.log(err));
  }
</script>

<style>
  .btn {
    @apply px-4 py-2 rounded-lg text-white bg-prim-500;
  }
  .btn:hover {
    @apply bg-prim-700;
  }
  .btn-alert {
    @apply border border-sec-600 text-sec-700 bg-white;
  }
  .btn-alert:hover {
    @apply text-white bg-sec-700 border-sec-700 font-semibold;
  }
  /* NOTE: maybe we will switch back do details tags */
  /* details > summary { */
  /* list-style: none; */
  /* } */
  /* details > summary::-webkit-details-marker { */
  /* display: none; */
  /* } */
</style>

<svelte:head>
  <title>{$t("settingsHeading")} • {$t("introTitle")}</title>
</svelte:head>

<div class="max-w-4xl m-auto">
  <h1 class="text-2xl lg:text-3xl font-semibold mb-6">
    {$t("settingsHeading")}
  </h1>
  <div class="max-w-3xl ml-4 m-auto">
    <section class="mb-6">
      <h2 class="text-neut-700 font-medium text-xl lg:text-2xl">
        {$t("settingsUserHeading")}
      </h2>
      {#if user}
      <UserSettings on:save="{save}" {...userStates} />
      {/if}
    </section>

    <section class="mb-6">
      <h2 class="text-neut-700 font-medium text-xl lg:text-2xl">
        {$t("userDangerHeading")}
      </h2>
      <div class="mx-4 lg:mx-12">
        <Container
          title='{$t("userLogoutTitle")}'
          subtitle='{$t("userLogoutSubtitle")}'
        >
          <button
            class="mt-3 btn btn-alert"
            on:click="{logoutHandler}"
            type="button"
          >
            {$t("userLogoutButton")}
          </button>
        </Container>
      </div>
    </section>
  </div>
</div>
