<script>
  import { createEventDispatcher } from "svelte";
  import { translate as t } from "../../stores/locale";
  import { user as u } from "../../stores/user";
  import * as api from "../../api";
  import Container from "../../components/container.html";
	import PDFIcon from "../../components/icons/pdf.html";
  import UploadIcon from "../../components/icons/upload.html";
  import Submit from "../../components/submit.html";

  const dispatch = createEventDispatcher();
  export let cedula_or_ruc, proof, name, phone, signed_at, amount;
  export let error;
  let preview;
  let file;

  async function submit(event) {
    dispatch("save", {cedula_or_ruc, proof, name, phone, signed_at, amount})
  }

  async function prepareProof(files) {
    [file] = files;
    var reader = new FileReader();
    reader.readAsDataURL(file)
    reader.onload = () => {
      // return early if not an image
      if (!file.type.startsWith("image/")) {
        proof.value = reader.result;
        preview = {type: "application/pdf", data: ""};
        return;
      }

      // make image saller with canvas
      const img = new Image();
      img.src = reader.result;
      img.onload = () => {
        let height = img.naturalHeight;
        let width = img.naturalWidth;

        let factor;
        if (height > width) {
          factor = 1024/height;
        } else {
          factor = 1024/width;
        }

        const elem = document.createElement("canvas");
        elem.width = width * factor;
        elem.height = height * factor;
        const ctx = elem.getContext("2d");
        ctx.drawImage(img, 0, 0, width*factor, height*factor);
        proof.value = ctx.canvas.toDataURL(img, "image/jpeg", 0.9);
        preview = {type: "image/jpeg", data: proof.value};
      };
    };
  }

</script>

<style>
 .btn {
     @apply px-4 py-2 rounded-lg text-white bg-prim-500;
 }
 .btn:hover {
     @apply bg-prim-700;
 }
 .input {
     @apply w-full my-2 text-neut-900;
     transition: all 0.15s ease;
 }
 .input:focus {
     @apply outline-none;
 }
</style>

{#if error}
  <p class="text-md font-medium text-sec-700">{$t("submissionErrorPrefix")}: {error}</p>
{/if}
<form on:submit|preventDefault="{submit}">
  <Container title='{$t("submissionCedulaTitle")}' subtitle='{$t("submissionCedulaSubtitle")}' error="{cedula_or_ruc.error}" >
    <input
      id="submission.cedula"
      type="text"
      pattern="^[0-9]+(-[0-9])?$"
      name="{cedula_or_ruc.name}"
      class="input text-lg lg:text-xl"
      placeholder='{$t("submissionCedulaPlaceholder")}'
      bind:value="{cedula_or_ruc.value}"
    >
  </Container>

  <Container title='{$t("submissionNameTitle")}' subtitle='{$t("submissionNameSubtitle")}' error="{name.error}" >
    <input
      id="submission.name"
      type="text"
      name="{name.name}"
      class="input text-lg lg:text-xl"
      placeholder='{$t("submissionNamePlaceholder")}'
      bind:value="{name.value}"
    >
  </Container>

  <Container title='{$t("submissionPhoneTitle")}' subtitle='{$t("submissionPhoneSubtitle")}' error="{phone.error}" >
    <input
      id="submission.phone"
      type="tel"
      name="{phone.name}"
      class="input text-lg lg:text-xl"
      placeholder='{$t("submissionPhonePlaceholder")}'
      bind:value="{phone.value}"
    >
  </Container>

  <Container title='{$t("submissionSignedAtTitle")}' subtitle='{$t("submissionSignedAtSubtitle")}' error="{signed_at.error}" >
    <input
      id="submission.signed_at"
      type="date"
      max="{new Date().toISOString().split("T")[0]}"
      name="{signed_at.name}"
      class="input text-lg lg:text-xl"
      placeholder='{$t("submissionSignedAtPlaceholder")}'
      bind:value="{signed_at.value}"
    >
  </Container>

  <Container title='{$t("submissionAmountTitle")}' subtitle='{$t("submissionAmountSubtitle", {name: name.value})}' error="{amount.error}" >
    <div class="flex items-center">
      <span class="pr-2 text-neut-900 font-semibold text-sm">&#8370;</span>
      <input
        id="submission.amount"
        type="tel"
        name="{amount.name}"
        maxlength="19"
        class="input text-lg lg:text-xl"
        placeholder='{$t("submissionAmountPlaceholder")}'
        value={$t("submissionAmountValue", {number: amount.value || 0})}
        on:change="{(e) => amount.value = parseInt(e.target.value.replace(/\D/g,''),10)}"
        on:keyup="{(e) => amount.value = parseInt(e.target.value.replace(/\D/g,''),10)}"
      >
    </div>
  </Container>

  <Container title='{$t("submissionProofTitle")}' subtitle='{$t("submissionProofSubtitle")}' footer='{$t("submissionProofFooter")}' error="{proof.error}" >
    <label
      on:dragenter|preventDefault|stopPropagation="{(e) => e}"
      on:dragover|preventDefault|stopPropagation="{(e) => e}"
      on:drop|preventDefault|stopPropagation="{(e) => prepareProof(e.dataTransfer.files)}"
      for="submission.proof" class="flex flex-wrap my-8 items-center cursor-pointer">
        <input
          on:change="{(e) => prepareProof(e.target.files)}"
          id="submission.proof"
          class="w-px h-px absolute overflow-hidden"
          type="file"
          accept=".png,.jpg,.pdf,.jpeg"
          name="{proof.name}"
        >
      {#if !file || !preview}
        <div class="flex flex-wrap items-center justify-center w-full border-2 border-prim-000 border-dashed rounded p-4">
          <UploadIcon classList="h-12 w-12 m-4" primary="text-prim-400" secondary="text-prim-800" />
          <p class="m-4 text-lg lg:text-xl text-neut-900">{$t("submissionProofUploadButton")}</p>
        </div>
      {:else}
        <div class="h-32 m-4">
          {#if preview.type === "application/pdf"}
          <PDFIcon classList="h-full" />
          {:else}
          <img class="h-full object-cover rounded" src="{preview.data}" alt="Preview Image" />
          {/if}
        </div>
        <div class="m-4 flex-grow w-24 pr-2">
          <h4 class="font-semibold text-sm text-neut-500 mb-1">Name</h4>
          <p class="truncate mb-4 text-lg text-neut-900">{file.name}</p>
          <h4 class="font-semibold text-sm text-neut-500 mb-1">Size</h4>
          <p class="text-lg text-neut-900">{file.size / 1000} KB</p>
        </div>
      {/if}
    </label>
  </Container>
  <div class="flex justify-end mb-6">
    <button class="mr-8 font-semibold text-neut-500 hover:text-neut-900" on:click="{() => history.back()}">{$t("backButton")}</button>
    <Submit type="submit" />
  </div>
</form>
