<script>
  import {goto} from '@sapper/app';
  import { translate as t } from "../../stores/locale";
  import { user as u } from "../../stores/user";
  import * as api from "../../api";
  import SubmissionForm from "./_form.html";
  import * as form from "../../helpers/form";
  import Modal from "../../components/modal.html";
  import LoadingIcon from "../../components/icons/loader.html";
  import SuccessIcon from "../../components/icons/check.html";
  import { error_msg } from "../../error";

 let case_ = {
   cedula_or_ruc: "",
   name: "",
   phone: "",
   signed_at: "",
   amount: 0,
   proof: ""
 }

  let error = null;
  let loading = false;
  let success = false;
  let caseStates = form.setState(case_, {}, form.INITIAL)


 async function submitCase(event) {
    loading = true;
    window.scrollTo(0, 0);
    caseStates = form.setState(caseStates, event.detail, form.FETCHING);
    api.post(`cases`, {params: form.stripStates(caseStates)}, {token: $u.token})
      .then(resp => {
        // check if it is really a user and has an id
        if (!resp.id) {
          loading = false;
          error = $t("errorGlobal");
          return;
        }
        // show success message for 2 seconds
        success = true;
        setTimeout(() => {
          success = false;
          loading = false;
          goto("/dashboard");
        }, 2000);

      })
      .catch(e => {
        loading = false

        if (e.form) {
          // Changeset errors
          caseStates = form.setState(caseStates, event.detail, form.FAILURE, {
            errors: e.form
          });
        }

        // Regular errors
        error = error_msg($t, e);
      });
 }
</script>

<svelte:head>
  <title>{$t("submissionHeading")} • {$t("introTitle")}</title>
</svelte:head>

{#if loading}
<Modal>
  <div slot="closer"></div>
  <div class="p-4">
    <h1 class="text-xl lg:text-2xl font-semibold text-neut-800 text-center mb-6">{$t("submissionLoadingTitle")}</h1>
    {#if success}
      <SuccessIcon classList="w-full h-8" primary="text-supp1-600" secondary="text-white" />
    {:else}
      <LoadingIcon classList="w-8 h-8 text-prim-500" />
    {/if}
  </div>
</Modal>
{/if}

<div class="max-w-4xl m-auto">
  <h1 class="text-2xl lg:text-3xl font-semibold mb-6">{$t("submissionTitle")}</h1>
  <section class="">
    <SubmissionForm {...caseStates} {error} on:save="{submitCase}" />
  </section>
</div>
