<script>
  import NavBar from "../components/nav.html";
  import Login from "./_login.html";
  import Modal from "../components/modal.html";
  import FooterBar from "../components/footer.html";
  import { user, delUser } from "../stores/user.js";
  import { onMount } from "svelte";
  import { stores } from '@sapper/app';

  const { preloading } = stores();


  export let segment;
  export const dark = false;

  const unprotectedRoutes = ["pricing", "contact"];
  let skipAuth = false;

  onMount(async () => {
    // Load search module to make everything ready
    const module = await import("../services/search");
  });

  $: {
    skipAuth =
      unprotectedRoutes.indexOf(segment) > -1 || ($user && $user.token);
  }
</script>

{#if $preloading}
  <div class="z-50 spinner fixed top-0 right-0 mt-1 mr-1 ease-linear rounded-full border-2 border-t-2 border-prim-000 w-6 h-6"></div>
{/if}
<div class="h-screen flex flex-col">
  <NavBar {segment} large={segment == "dashboard"} />

  {#if process.browser} {#if !skipAuth}
  <div role="dialog" aria-labelledby="loginTitle" aria-describedby="loginDesc">
    <Modal>
      <Login />
      <div slot="closer"></div>
    </Modal>
  </div>
  {/if}{/if}

  <main class="p-2 flex-grow">
    <slot></slot>
  </main>

  <FooterBar />
</div>
