<script>
  import { translate as t } from "../stores/locale";
  import { setUser } from "../stores/user";
  import { post } from "../api";
  import { error_msg } from "../error";

  let email = null;
  let password = null;
  let error = null;
  let loading = false;

  async function submit(e) {
    loading = true;
    if (!email || !password) return;
    const params = {
      email: email,
      password: password
    };
    post("auth", { params })
      .then(({ user, token }) => {
        // check if it is really a user and has an id
        if (!user.id) {
          error = $t("errorGlobal");
          return;
        }
        setUser({ user, token });
        location.reload();
      })
      .catch(e => {
        switch (e.status) {
          case 401:
            error = $t("loginErrorInvalidEmail");
            break;
          case 423:
            error = $t("loginErrorNotActive");
            break;
          default:
            error = error_msg($t, e);
        }
        loading = false;
      });
  }
</script>

<style>
  .btn {
    @apply w-full bg-prim-400 text-white font-semibold rounded px-4 py-2;
  }
  .btn:hover {
    @apply bg-prim-700;
  }
  .btn.disabled {
    @apply bg-neut-300;
  }

  .input {
    @apply w-full border-b border-neut-300 my-2 text-lg text-neut-900;
    transition: all 0.15s ease;
  }
  .input:focus {
    @apply border-white outline-none;
  }
</style>

<section class="">
  <h2 id="loginTitle" class="text-center text-xl font-bold text-neut-500 mb-6">
    {$t("loginHeading")} <br />
    <span class="text-3xl text-prim-700">{$t("introTitle")}</span>
  </h2>
  {#if error}
  <p class="text-sm font-medium text-sec-700 mb-2 mx-4">{error}</p>
  {/if}
  <p></p>
  <form id="loginDesc" on:submit|preventDefault="{submit}" class="m-2 mb-6">
    <label class="block font-semibold text-neut-500 text-sm mb-4">
      {$t("loginEmailLabel")}
      <input id="login.email" class="input" type="email" placeholder="" bind:value="{email}" />
    </label>

    <label class="block font-semibold text-neut-500 text-sm mb-4">
      {$t("loginPasswordLabel")}
      <input
        id="login.password"
        class="input"
        type="password"
        placeholder=""
        bind:value="{password}"
      />
    </label>
    <button
      class='btn {loading ? "disabled" : ""}'
      type="submit"
      disabled="{loading}"
    >
      {$t("loginSubmitButton")}
    </button>
  </form>
  <div class="text-center">
    <a href="mailto:support@samuu.srl?subject=Contact" class="font-bold text-neut-500 text-xs"
      >{$t("loginContactLinkLabel")}</a
    >
  </div>
</section>
