<script>
  import { translate as t } from "../stores/locale";
  import Search from "../components/search.html";
  import Result from "../components/result.html";

  let query = "";
  let entries = null;
  let error = null;
</script>

<svelte:head>
  <title>{$t("introTitle")}</title>
</svelte:head>

<h1
  class="text-4xl lg:text-6xl font-bold text-prim-600 text-center"
>
  {$t("introTitle")}
</h1>
<section class="max-w-xl m-auto mt-16 mb-24">
  <Search bind:entries bind:error bind:query />
  <a
    class="text-sm font-semibold text-neut-800"
    href="/submission"
    rel="prefetch"
    ><div>{$t("introCaseLinkLabel")}</div></a
  >
</section>
<section class="max-w-xl lg:max-w-4xl m-auto">
  <Result {entries} {error} search="{query}" />
</section>
