<%= form_for @changeset, @action, [as: :params, class: "lg:ml-16 m-4"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="text-sec-800">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= cedula_or_ruc = assigns[:person] && (@person.ruc || @person.cedula) || nil  %>
  <%= c("container.html",
      header: "Cedula or RUC",
      content: text_input(f, :cedula_or_ruc, placeholder: "Cedula or RUC",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none",
        value: cedula_or_ruc),
      error: error_tag(f, :cedula_or_ruc),
      footer: "Only change if necessary after creation")
      %>

  <%= c("container.html",
      header: "Name",
      content: text_input(f, :name, placeholder: "Name",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :name),
      footer: "Only change if necessary after creation")
      %>

  <%= c("container.html",
      header: "Phone Number",
      content: telephone_input(f, :phone, placeholder: "+595 983 123456",
        class: "w-full my-2 text-lg text-neut-900 focus:outline-none"),
      error: error_tag(f, :phone))
      %>

  <%= submit "Save", class: "mr-2 bg-prim-400 hover:bg-prim-700 text-white font-semibold rounded px-4 py-1" %>
  <%= link "Back", to: @back, class: "text-neut-700 font-medium rounded px-4 py-1" %>
<% end %>
