<section class="max-w-3xl m-4 lg:ml-16">
  <h1 class="text-2xl lg-text-3xl">Edit Person</h1>


  <%= render "_form.html",
      assigns
      |> Map.put(:action, Routes.backoffice_person_path(@conn, :update, @person))
      |> Map.put(:back, Routes.backoffice_person_path(@conn, :show, @person))
  %>
</section>
