<section class="max-w-4xl m-4 lg:ml-16">
  <h1 class="text-2xl lg-text-3xl mb-3"><%= @person.name %></h1>

  <div class="lg:flex">
    <%= link to: Routes.backoffice_person_path(@conn, :edit, @person), class:
    "block w-full lg:w-1/2 m-2 my-6 rounded-lg bg-neut-000 px-4 py-2" do %>
      <h2 class="text-xl font-medium mb-4">Person</h2>
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "ID", content: @person.id %></div>
        <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "Cedula", content: @person.cedula %></div>
        <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "RUC", content: @person.ruc %></div>
        <div class="w-full md:w-1/2 p-2"><%= c "box.html", title: "Name", content: @person.name %></div>
      </div>
    <% end %>

    <div class="w-full lg:w-1/2 m-2 my-6">
      <h2 class="text-xl font-medium mb-4">Login Credentials</h2>
      <div class="overflow-auto lg:h-40">
        <%= for user <- @users do %>
          <%= link to: Routes.backoffice_user_path(@conn, :edit, user), class:
          "block m-2 rounded-lg bg-neut-000 px-4 py-2" do %>
            <div class="flex flex-wrap">
              <div class="w-full md:w-1/3 p-2"><%= c "box.html", title: "ID", content: user.id %></div>
              <div class="w-full md:w-1/3 p-2"><%= c "box.html", title: "Email", content: user.email %></div>
              <div class="w-full md:w-1/3 p-2"><%= c "box.html", title: "Username", content: user.username %></div>
            </div>
          <% end %>
        <% end %>
        <div class="text-center my-4">
          <%= link "Add Login Credentials", to:
          Routes.backoffice_user_path(@conn, :new, @person), class: "px-4 py-2
          font-semibold bg-prim-400 hover:bg-prim-700 text-white rounded" %>
        </div>
      </div>
    </div>
  </div>
  
  <h2 class="text-2xl lg-text-3xl mb-4">Cases</h2>
  <%= link "Create new case...", to: Routes.backoffice_case_path(@conn,
    :new, @person), class: "text-sm font-semibold text-neut-800" %>

  <ul class="mt-4">
  <%= for case <- @person.cases do %>
      <li>
        <%= link to: Routes.backoffice_case_path(@conn, :show, case),
            class: "block shadow-md rounded p-2 items-center max-w-4xl mx-auto my-4 hover:bg-neut-000" do %>
        <div class="flex flex-wrap min-w-0">
          <div class="w-6/12 lg:w-1/12">
            <%= c "box.html", title: "ID", content: case.id %>
          </div>
          <div class="w-6/12 lg:w-3/12">
            <%= c "box.html", title: "Debtor", content: case.debtor.cedula %>
          </div>
          <div class="w-6/12 lg:w-4/12">
            <h3 class="text-neut-500 text-sm font-semibold">Verified</h3>
            <%= if case.verified_at do %>
              <p class="text-lg
            truncate"><%= DateTime.truncate(case.verified_at, :second) %><p>
            <% else %>
            <%= button "Verify", to: Routes.backoffice_case_path(@conn,
            :verify, case, origin: Routes.backoffice_person_path(@conn,
            :show, @person)),
                class: "bg-prim-400 hover:bg-prim-700 text-white
            font-semibold rounded px-4 py-1", method: :post %>
            <% end %>
          </div>
          <div class="w-6/12 lg:w-4/12">
            <h3 class="text-neut-500 text-sm font-semibold">Resolved</h3>
            <%= if case.resolved_at do %>
              <p class="text-lg truncate"><%= DateTime.truncate(case.resolved_at, :second) %><p>
            <% else %>
              <%= button "Resolve", to: Routes.backoffice_case_path(@conn,
            :resolve, case, origin: Routes.backoffice_person_path(@conn,
            :show, @person)),
                  class: "bg-prim-400 hover:bg-prim-700 text-white
            font-semibold rounded px-4 py-1", method: :post %>
            <% end %>
          </div>
        </div>
        <% end %>
      </li>
  <% end %>
  </ul>
</section>
