<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Morandu · Backoffice</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/backoffice/css/app.css") %>"/>
  <%= csrf_meta_tag() %>
  <script type="text/javascript" src="<%= Routes.static_path(@conn,
  "/backoffice/js/app.js") %>" defer></script>
</head>
