<!DOCTYPE html>
<html lang="en">
  <%= render "_head.html", assigns %>
  <body>
    <header>
      <section>
        <%= if assigns[:current_user] do %>
        <nav class="flex text-prim-700 p-2 items-center" role="navigation">
          <%= link "Morandu Backoffice",
              to: Routes.backoffice_page_path(@conn, :index),
              class: "font-bold text-2xl"
              %>
          <div class="flex-grow"></div>
          <%= link "Users",
              to: Routes.backoffice_mgmt_user_path(@conn, :index),
              class: "mx-2"
              %>
          <%= link "Logout",
              to: Routes.backoffice_mgmt_session_path(@conn, :delete),
              method: :delete,
              class: "mx-2"
              %>
        </nav>
        <% end %>
      </section>
    </header>
    <main role="main">
      <p class="m-2 py-2 px-4 rounded text-supp1-800 bg-supp1-000 empty:hidden" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="m-2 py-2 px-4 rounded text-sec-800 bg-sec-000 empty:hidden" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
