<script>
  import { createEventDispatcher } from "svelte";
  import { translate as t } from "../../stores/locale";
  import { user as u } from "../../stores/user";

  const dispatch = createEventDispatcher();

  export let id, verified_at, d_cedula, d_ruc, d_name, signed_at, amount;

  let disabled = $u && $u.role != 'admin' || false;

  async function click(event) {
    if (disabled) return;
    dispatch("resolve", {id, verified_at, d_cedula, d_ruc, d_name})
  }
</script>

<style>
 .btn {
  @apply bg-prim-400 text-white font-semibold rounded;
 }
 .btn:hover {
   @apply bg-prim-700;
 }
 .btn-disabled {
   @apply bg-neut-100 text-white;
 }
 .btn-disabled:hover {
   @apply bg-neut-100 text-white cursor-default;
 }
</style>

<div class="max-w-md px-4 py-2 my-12 mx-4 bg-neut-000 sm:bg-transparent sm:hover:bg-neut-000 rounded-lg">
  {#if verified_at}
  <h3 class="font-medium text-xs text-neut-500 uppercase tracking-widest">
    {$t("dashboardCasesCardInfoHeading")}
  </h3>
  {/if}
  <div class="flex flex-wrap justify-between items-center">
    <div class="content flex-grow my-2">
      <p class="font-medium text-xl lg:text-2xl mb-2 truncate">{d_ruc || d_cedula}</p>
      <p class="text-sm text-neut-600 lg:text-base mt-1 truncate">{d_name}</p>
    </div>
    <button on:click={click} class='my-4 mx-2 px-4 py-2 uppercase tracking-wide btn {disabled ? "btn-disabled" : ""}'>{$t("dashboardCasesCardResolveButton")}</button>
  </div>
  <div class="border-b my-2 border-neut-100"></div>
  <div class="flex flex-wrap justify-between items-center text-xs text-neut-500 font-medium mb-2">
    <p class="mx-1">
      {#if amount}
        {$t("dashboardCasesCardAmount", {number: amount})}
      {/if}
    </p>
    <p class="mx-1">
      {$t("dashboardCasesCardSince", {date: new Date(signed_at)})}
    </p>
  </div>
</div>
