<script>
  import { onMount } from "svelte";
  import * as api from "../../api";
  import { translate as t } from "../../stores/locale";
  import { user as u } from "../../stores/user";
  import Error from "../../components/error.html";
  import CasesIcon from "../../components/icons/inbox_full.html";
  import MembersIcon from "../../components/icons/user_group.html";
  import SettingsIcon from "../../components/icons/settings.html";
  import { error_msg } from "../../error";

  onMount(() => {
    api
      .prefetch(`persons`, { token: $u.token, expire: 30, refetch: true })
      .then(res => {
        person = res;
      })
      .catch(err => error = error_msg($t, err));

    prefetch(`cases`)

    segment = location.pathname;
  });

 let error;
 let person;
 let segment;
 let menu = [
      {title: $t("dashboardMenuCases"), link: "/dashboard/cases", prefetch: "cases", icon: CasesIcon},
      {title: $t("dashboardMenuMembers"), link: "/dashboard/members", prefetch: "users", icon: MembersIcon},
      {title: $t("dashboardMenuAccount"), link: "/dashboard/account", prefetch: "persons", icon: SettingsIcon}
 ];

 async function prefetch(route) {
   api.prefetch(route, { token: $u.token })
 }

</script>

<style>
 hr.vertical {
    @apply w-0 h-6 border-l border-neut-300;
 }
 .scale {
     transition: transform 0.2s;
 }
 .scale.selected {
    @apply font-semibold;
     /* transform: scale(1.1); */
 }
 /* .scale:hover {
    transform: scale(1.1);
    } */
</style>

<svelte:head>
  <title>{$t("dashboardHeading")}</title>
</svelte:head>

<section class="max-w-xl lg:max-w-3xl m-auto relative">
  {#if error}
    <h1 class="mt-12 mb-32 text-2xl lg:text-3xl text-white font-semibold truncate">
      {$t("dashboardHeading")}
    </h1>
    <Error msg="{error}" refresh=true />
  {:else}
      <div class="flex mb-16 items-center">
        <div class="mr-2 flex-grow w-0">
          <h1
            id="dashboard.person"
            class="text-2xl text-white lg:text-3xl font-semibold mb-2 truncate"
          >
            {person && person.name || ""}
          </h1>
          <p id="dashboard.cedula" class="text-prim-100 text-sm tracking-wide truncate">
            {person && (person.ruc || person.cedula) || ""}
          </p>
        </div>
        <a
          rel=prefetch
          class="block px-4 py-2 font-medium border rounded border-prim-100 text-prim-000 hover:bg-prim-500"
          href="/settings"
          >{$t("dashboardUserHeading")}</a
        >
      </div>
    <div class="flex items-center text-center shadow-lg rounded-lg overflow-hidden max-w-md lg:max-w-xl m-auto bg-white">
      {#each menu as item, index}
      {#if index > 0}
        <hr class="vertical">
      {/if}
        <a
          rel=prefetch
          on:mousedown="{() => prefetch(item.prefetch)}"
          on:touchstart="{() => prefetch(item.prefetch)}"
          href="{item.link}"
          class='block flex-grow px-2 py-4 sm:p-4 hover:bg-neut-000 scale {segment == item.link ? "selected" : ""}'
        >
          <svelte:component this={item.icon} classList="inline h-6 w-6" primary="text-prim-500" secondary="text-neut-300"/>
            {item.title}
        </a>
      {/each}
      </div>
    <slot>
    </slot>
  {/if}
</section>
