<script>
  import { createEventDispatcher } from "svelte";
  import Container from "../../components/container.html";
  import Submit from "../../components/submit.html";
  import { translate as t } from "../../stores/locale";

  export let phone;
  const dispatch = createEventDispatcher();

  function submit(event) {
    dispatch("save", event.detail);
  }
</script>

<style>
  .btn {
    @apply px-4 py-2 rounded-lg text-white bg-prim-500;
  }
  .btn:hover {
    @apply bg-prim-700;
  }
  .btn-alert {
    @apply border border-sec-600 text-sec-700 bg-white;
  }
  .btn-alert:hover {
    @apply text-white bg-sec-700 border-sec-700 font-semibold;
  }
  input:disabled {
    @apply bg-white;
  }
</style>

<form>
  <section class="mx-4 lg:mx-12">
    <Container title='{$t("personPhoneTitle")}' subtitle='{$t("personPhoneSubtitle")}' error="{phone.error}" footer='{$t("personReadOnlyInfo")}'>
      <div class="flex">
        <input
          id="settings.phone"
          type="text"
          name="{phone.name}"
          class="form-input text-lg lg:text-xl text-neut-800 w-full"
          placeholder='{$t("personPhoneInputPlaceholder")}'
          bind:value="{phone.value}"
          disabled
        />
        <!-- <Submit on:click="{submit}" data="{phone}" /> -->
      </div>
    </Container>
  </section>
</form>
