<script>
  import { onMount } from "svelte";
  import * as api from "../../api";
  import { translate as t } from "../../stores/locale";
  import { user as u } from "../../stores/user";
  import Dashboard from "./_dashboard.html"
  import SettingsForm from "./_settings_form.html";
  import Container from "../../components/container.html";
  import * as form from "../../helpers/form";

 onMount(() => {
   // TODO: Prefetch does somehow not work.
   // On prefetch the correct object is returned
   // but in the form it is undefined
   // TODO: Error Handling

    api.get(`persons`, { token: $u.token })
       .then(res => person = res)
       .catch(err => console.log(err));
  });

  let person;
  $: personStates = form.setState({ ...person }, {}, form.INITIAL);

  async function save(event) {
    personStates = form.setState(personStates, event.detail, form.FETCHING);
    const params = form.stripStates(states)
    api.post(`persons/${person.id}`, {params}, {token: $u.token})
      .then(() => {
        personStates = form.setState(personStates, event.detail, form.SUCCESS);
        setTimeout(() => {
          personStates = form.setState(
            personStates,
            event.detail,
            form.INITIAL
          );
        }, 2000);
      })
      .catch(e => {
        // prepare error message for every input container
        let errors = {};
        Object.keys(event.detail).map(
          key => (errors[key] = e.message)
        );

        personStates = form.setState(
          personStates,
          event.detail,
          form.FAILURE,
          {
            errors: e.form || errors
          }
        );
      });
  }
</script>

<Dashboard>
  <h2 class="text-neut-700 font-medium text-2xl my-8">
    {$t("dashboardAccountHeading")}
  </h2>
  {#if person && personStates}
  <SettingsForm on:save="{save}" {...personStates} />
  {/if}
</Dashboard>
