<script>
  import { onMount } from "svelte";
  import * as api from "../../api";
  import { translate as t } from "../../stores/locale";
  import { user as u } from "../../stores/user";
  import Searchbar from "../../components/searchbar.html";
  import Error from "../../components/error.html";
  import Case from "./_case.html";
  import Confirmation from "./_confirmation.html";
  import Dashboard from "./_dashboard.html"
  import Modal from "../../components/modal.html";
  import { error_msg } from "../../error";

  onMount(() => {
    api
      .prefetch(`cases`, { token: $u.token })
      .then(res => {
        cases = res;
      })
      .catch(err => (error = error_msg($t, err)));
  });

 let cases;
 let caseToBeConfirmed = null;
 let busy = false;
 //TODO: Error Handling
 let error;
 $: filtered = cases;

  async function search(event) {
    let searchString = event.detail;
    if (!cases) return;
    filtered = cases.filter(item => {
      return (
        (item.d_ruc && item.d_ruc.includes(searchString)) ||
        item.d_cedula.includes(searchString)
      );
    });
  }

  async function confirmedResolve(event) {
    const value = event.target.elements["confirmation"].value
    const case_ = caseToBeConfirmed;

    if (!validateConfirmation(event)) return;

    busy = true;
    api.post(`cases/${case_.id}/resolve`, {}, { token: $u.token })
      .then(() => {
        caseToBeConfirmed = null;
        api.get(`cases`, { token: $u.token }).then(res => {
          cases = res;
        });
      })
    .catch(err => {
      error = error_msg($t, err);
    });

    busy = false;
  }

  function validateConfirmation(event) {
    const form = event.target.closest("form");
    const value = form.elements["confirmation"].value;
    const button = form.elements["submit"];
    const case_ = caseToBeConfirmed;

    if (value == (case_.d_ruc || case_.d_cedula)) {
      button.classList.remove("disabled");
      return true;
    } else {
      button.classList.contains("disabled") || button.classList.add("disabled");
      return false;
    }
 }
</script>

<style>
  .btn {
    @apply bg-prim-400 text-white font-semibold rounded px-4 py-2;
  }
  .btn:hover {
    @apply bg-prim-700;
  }
  .btn.disabled {
    @apply bg-neut-100 text-white;
  }
  .btn.disabled:hover {
    @apply bg-neut-100 text-white cursor-default;
  }
  .input {
    @apply w-full border-b border-neut-300 my-2 text-lg text-neut-900;
    transition: all 0.15s ease;
  }
  .input:focus {
    @apply border-white outline-none;
  }
</style>

<Dashboard>
  <h2 class="text-2xl font-medium text-neut-700 my-8">
    {$t("dashboardActiveCasesHeading")}
  </h2>

  {#if error}
    <Error msg="{error}" />
  {/if}

  {#if cases && filtered}
  {#if cases.length === 0}
  <p class="text-center text-neut-500 mt-24">{$t("dashboardEmptyCasesText")}</p>
  {:else}
  <div id="dashboard.cases">
    <Searchbar
      classList="max-w-sm m-4 mb-8 lg:text-lg"
      label='{$t("searchDashboardLabel")}'
      on:input="{search}"
    />
    {#each filtered as item (item.id)}
    <Case on:resolve="{(e) => !busy && (caseToBeConfirmed = e.detail)}" {...item} />
    {/each}
  </div>
  {/if}{/if}
</Dashboard>

{#if caseToBeConfirmed}
<Modal on:close={() => caseToBeConfirmed = null}>
  <div class="p-4">
    <h2 class="font-medium text-xl text-neut-700 pb-4">{$t("submissionConfirmTitle")}</h2>
    {#if error}
      <div class="pb-4"><Error msg="{error}" /></div>
    {/if}
    <p class="text-sm pb-4">{$t("submissionConfirmSubtitle", {id: caseToBeConfirmed.d_ruc || caseToBeConfirmed.d_cedula})}</p>
    <form on:submit|preventDefault={confirmedResolve} on:keyup={validateConfirmation}>
      <label class="block font-semibold text-neut-500 text-sm mb-4">
        {$t("submissionConfirmInputLabel", {id: caseToBeConfirmed.d_ruc || caseToBeConfirmed.d_cedula})}
        <input
          id="dashboard.confirmation"
          type="text"
          name="confirmation"
          placeholder={caseToBeConfirmed.d_ruc || caseToBeConfirmed.d_cedula}
          class="input"
        />
      </label>
      <button name="submit" type="submit" class='btn disabled'>Confirm</button>
    </form>
  </div>
</Modal>
{/if}
