<script>
  import { onMount } from "svelte";
  import * as api from "../../api";
  import { translate as t } from "../../stores/locale";
  import { user as u } from "../../stores/user";
  import Dashboard from "./_dashboard.html"
  import CheveronDown from "../../components/icons/cheveron_down.html";
  import Error from "../../components/error.html";
 import { error_msg } from "../../error";

  onMount(() => {
    dataload()
  });

  // TODO: Confirmation if user wants to update his own rights
  let members;
  let error;
  let success = false;
  let disabled = $u && $u.role != 'admin' || false;

  async function submit(event) {
    if (disabled) return;
    // TODO: Maybe we need to refresh the user after a submit, to load the updates role.
   
    // NOTE: This way is currently easier. Maybe we will later change it into one form
    // where each member is a single input, like we do with the settings form.
    const id = event.target.elements["id"].value
    const role = event.target.elements["role"].value
    disabled = true;

    api.post(`users/${id}/role`, { params: {role} }, {token: $u.token})
      .then(res => {
        success = true;
        setTimeout(() => {
          success = false;
        }, 4000)
        //dataload();
      })
      .catch(err => {
        error = error_msg($t, err);
      })
    disabled = false;
  }

 async function dataload() {
    api
      .prefetch(`users`, { token: $u.token })
      .then(res => {
        members = res.sort((a,b) => a.id - b.id);
      })
      .catch(err => {
        error = error_msg($t, err);
      });
 }
</script>

<style>
 .btn {
  @apply bg-prim-400 text-white font-semibold rounded;
 }
 .btn:hover {
   @apply bg-prim-700;
 }
 .btn-disabled {
   @apply bg-neut-100 text-white;
 }
 .btn-disabled:hover {
   @apply bg-neut-100 text-white cursor-default;
 }
</style>

<Dashboard>
  <h2 class="text-2xl font-medium text-neut-700 my-8">
    {$t("dashboardMembersHeading")}
  </h2>

  {#if error}
    <Error msg="{error}" />
  {:else if success}
    <p class="p-4 text-sm font-medium text-supp1-600 mx-4 w-full bg-supp1-000 rounded-lg">{$t("dashboardMembersRoleUpdateSuccess")}</p>
  {/if}

  {#if members}
  {#each members as member (member.id)}
  <form on:submit|preventDefault={submit} class="px-4 py-2 mx-4 my-12 flex flex-wrap max-w-xl bg-neut-000 sm:bg-transparent sm:hover:bg-neut-000 rounded-lg">
    <div class="content flex-grow mb-2">
      <div class="font-medium text-xl lg:text-2xl mb-2 h-7 truncate">{member.email}</div>
      <div class="text-sm h-5 text-neut-500 lg:text-base mt-1 truncate">{member.username || ""}</div>
    </div>
    <input type="hidden" name="id" value={member.id}>
    <div class="relative mr-4 flex-grow sm:flex-grow-0">
      <select name="role" class="block appearance-none w-full truncate bg-transparent border-b border-neut-300 text-neut-900 py-3 px-4 pr-8 leading-tight focus:outline-none focus:bg-transparent">
        <option value="admin" selected='{member.role == "admin"}' >{$t("dashboardMembersRole1")}</option>
        <option value="reader" selected='{member.role != "admin"}'>{$t("dashboardMembersRole2")}</option>
      </select>
      <CheveronDown classList="pointer-events-none absolute w-6 mt-3 inset-y-0 right-0 text-neut-900" />
    </div>
    <button type="submit" class='flex-grow sm:flex-grow-0 my-4 mx-2 px-4 py-2 tracking-wide btn {disabled ? "btn-disabled" : ""}'>{$t("submitButton")}</button>
  </form>
  {/each}
  {/if}
</Dashboard>
